<% content_for :title, 'Edit Track' %>

<div class="text-center">
  <h1 class="text-3xl font-semibold mb-4">Edit Track</h1>
</div>
<div class="container mx-auto px-4">
  <%= render 'form' %>
    <div class="mt-4">
    <h3>Admin Buttons</h3>
    <%= link_to 'Back', tracks_path, class: "btn btn-primary" %>
    <%= link_to 'Delete Track', track_path(@track), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn bg-red-700" %>
  </div>
</div>