<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-semibold mb-8">Tracks</h1>

  <div class="">
    <% @tracks.each do |track| %>
      <div class="bg-cover bg-center h-48 mb-4" style="background-image: url('<%= track.main_image %>')">
        <div class="px-10 py-10">
          <h2 class=" text-xl font-semibold mb-6"><%= track.name %></h2>
          <%= link_to "View Track", track, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
