<% content_for :title, 'Edit Championship' %>

<div class="text-center">
  <h1 class="text-3xl font-semibold mb-4">Edit Championship</h1>
</div>
<div class="container mx-auto px-4">
  <%= render 'form' %>
  <div class="mt-4">
  <h3>Admin Buttons</h3>
  <%= link_to 'Back', championships_path, class: "btn btn-primary" %>
  <%= link_to 'Delete Championship', championship_path(@championship), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn bg-red-700" %>
  </div>
</div>