<% content_for :title, 'Edit Championship' %>

<div class="text-center">
  <h1 class="text-3xl font-semibold mb-4">Edit Championship</h1>
</div>
<div class="container mx-auto px-4">
  <%= render 'form' %>
</div>