@layer components {
  .btn {
    @apply py-2 px-4 font-medium text-sm text-center rounded focus:ring-4 transition ease-in-out duration-300 no-underline inline-flex items-center justify-center;
  }

  .btn-lg {
    @apply py-3 px-5 text-lg;
  }

  .btn-sm {
    @apply py-1 px-2 text-xs;
  }

  .btn-icon {
    @apply gap-2;
  }

  .btn-circle {
    @apply rounded-full p-2;
  }

  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-300 px-4 py-1;
  }

  .btn-primary.btn-outline {
    @apply border-2 border-blue-600 bg-transparent text-blue-600 hover:bg-blue-600 hover:text-white;
  }

  .btn-secondary {
    @apply bg-gray-600 text-white hover:bg-gray-700 focus:ring-gray-300;
  }

  .btn-secondary.btn-outline {
    @apply border-2 border-gray-600 bg-transparent text-gray-600 hover:bg-gray-600 hover:text-white;
  }

  .btn-dark {
    @apply bg-slate-800 hover:bg-slate-900 focus:ring-slate-800/20 text-white dark:hover:text-slate-100 dark:hover:bg-slate-700 dark:focus:ring-slate-800;
  }

  .btn-dark.btn-outline {
    @apply border-2 border-slate-800 bg-transparent text-slate-800 hover:bg-slate-800 hover:text-white;
  }

  .btn-light {
    @apply bg-slate-200 hover:bg-slate-300 focus:ring-slate-300/20 text-slate-700;
  }

  .btn-light.btn-outline {
    @apply border-2 border-slate-200 bg-transparent text-slate-700 hover:bg-slate-200;
  }

  .btn-white {
    @apply bg-white hover:bg-gray-100 text-slate-700 focus:ring-slate-100 border border-slate-300 shadow-sm hover:border-slate-400 shadow-slate-300/20 hover:shadow-slate-300/50 dark:shadow-none dark:bg-slate-700/70 dark:text-slate-200 dark:border-slate-700 dark:focus:ring-slate-600/30 dark:hover:border-slate-600 dark:hover:bg-slate-800;
  }

  .btn-white.btn-outline {
    @apply bg-transparent text-white hover:text-slate-700 hover:bg-white focus:ring-slate-100/20 border-white;
  }

  .btn-transparent {
    @apply hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 hover:bg-opacity-90 shadow-none hover:ring-slate-200 border border-transparent hover:text-slate-800 text-slate-700 dark:text-slate-300 dark:hover:bg-slate-700 dark:hover:text-slate-100 dark:focus:ring-slate-800;
  }

  .btn-link {
    @apply text-blue-600 font-semibold focus:ring-transparent hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 underline;
  }

  .btn-red {
    @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-300;
  }

  .btn-event {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-300
           inline-flex items-center gap-2 
           py-2 px-4 text-sm font-semibold rounded 
           transition-all duration-200 ease-in-out 
           focus:ring-4
           active:bg-blue-800 
           disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-event.btn-lg {
    @apply py-3 px-5 text-lg;
  }

  .btn-event.btn-sm {
    @apply py-1 px-2 text-xs;
  }

  .btn-event.btn-outline {
    @apply bg-transparent text-blue-600 border-2 border-blue-600
           hover:bg-blue-600 hover:text-white;
  }
}