<div class="sm:mt-16 mt-8 relative container mx-auto">

<section class="bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white">Contact Us</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-400 sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Would like to submit a data correction? Let us know.</p>

      <p class="mb-8 lg:mb-16 font-light text-center text-gray-400 sm:text-xl">If your a Track, Championship or Event representative and would like more control over your page please get in touch..</p>
      
        
  </div>
</section>
</div>