<p>Hello <%= @contact.name %>,</p>
<p>Thank you for reaching out to KartStream. We have received your message and will get back to you as soon as possible.</p>
<p>Here is a copy of your message for your records:</p>
<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Message:</strong> <%= @contact.message %></p>
<p>Best regards,</p>
<p>Mike @ KartStream</p>
