<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hi,</p>
  <p>A new contact message was received:</p>
  <p>
    Name: <%= @name %><br>
    Email: <%= @email %><br>
    Message: <%= @message %>
  </p>
</body>
</html>